<div class="container">
  <section *ngFor="let section of sections; let i = index" [ngClass]="{'active': currentIndex === i}">
    <main>
      <img [src]="section.image" alt="">
      <span>{{ section.text }}</span>
      <div>
        <h1>{{ section.title }}</h1>
        <p>{{ section.author }}</p>
      </div>
    </main>
    <div>
      <img [src]="section.profileImage" alt="" />
      <h2>{{ section.name }}</h2>
    </div>
  </section>
</div>

<menu>
  <img src="./../../assets/img/left.png" alt="" (click)="previousSection()" [ngClass]="{'disabled': currentIndex === 0}" />
  <p *ngFor="let section of sections; let i = index" [ngClass]="{'active': currentIndex === i}"></p>
  <img 
    src="./../../assets/img/right.png" 
    alt="" 
    (click)="nextSection()" 
    [ngClass]="{'disabled': currentIndex === sections.length - 1}" 
  />
</menu>