<div class="container">
  <section>
    <main>
      <img src="./../../assets/img/purple_reference.png" alt="">
      <span
        >Michael really kept the team together with his great organization and
        clear communication. We wouldn't have got this far without his
        commitment.</span
      >
      <div>
        <h1></h1>
        <p>V. Schuster - Team Partner</p>
      </div>
    </main>
    <div>
      <img src="./../../assets/img/profil.png" alt="" />
      <h2></h2>
    </div>
  </section>
</div>


<menu>
  <img src="./../../assets/img/left.png" alt="" />
  <p></p>
  <p></p>
  <p></p>
  <img src="./../../assets/img/right.png" alt="" />
</menu>
