nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  height: 109.03px;
  padding-left: 5%;
  padding-right: 6%;
  gap: 20%;
  position: fixed;
  top: 0;
  background-color: rgb(20, 29, 47);
  z-index: 10;
  box-sizing: border-box;
  color: #FFFFFF;
}

.navbar{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5%;
  width: 100%;
}

h1 {
  font-size: clamp(2rem, 4vw, 7rem);
}

.navbar-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.navbar-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

a {
  font-weight: 400;
  font-size: clamp(1rem, 2vw, 2.5rem);
  position: relative;
  text-wrap: nowrap;

  &:hover {
    color: #70E61C;
    cursor: pointer;
  }

  &.active {
    color: #70E61C;
    text-decoration: none;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 100%;
      height: 3px;
      background-color: #9747FF;
    }
  }
}

img {
  display: none;
  width: clamp(24px, 6vw, 80px);
  height: clamp(24px, 6vw, 80px);
  cursor: pointer;
}

.overlay {
  display: none;
}
span{
  
  &.active {
    color: greenyellow;
  }
}
.overlay-divider{
  display: flex;
  flex-direction: column;
  gap: 48px;


  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.5rem;
}

button {
  color: white;
  background-color: #282c34;
  border: 1px solid greenyellow;
  border-radius: 4px;
  font-size: clamp(1rem, 2vw, 2.5rem);
  cursor: pointer;

  &:hover {
    background-color: #9747FF;
    color: black;
  }

  &.active {
    background-color: greenyellow;
    color: black;
  }
}

@media screen and (max-width: 1050px){
  nav {
    padding-right: 5%;
  }
}

@media screen and (max-width: 800px){
  a{
    font-size: clamp(1rem, 1.5vw, 2.5rem);
  }

  nav {
    padding: 37px 4% 37px 24px;
    gap: 5%;
  }

  .navbar{
    width: 70%;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 700px) {
  nav {
    padding: 30px 30px 30px 20px;
    gap: 5%;
  }
  .navbar {
    gap: 5%;
  }

  .navbar-header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6%;
  }

  img {
    display: flex;
  }

  nav {
    div {
      display: none;
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    background-color: rgba(124, 161, 172, 0.8);
  }

  a {
    font-size: 2rem;
    &:hover {
      color: #FFFFFF;
    }
  }
}

.hidden {
  display: none;
}



.overlay-header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 37px 24px 37px 24px;
  gap: 40%;

  >p {
    color: white;
    font-size: 24px;
    margin-left: 16px;
  }
}

.overlay-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
  margin-top: 180px;
  font-size: 23px;
  font-weight: 400;
  line-height: 27.6px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #FFFFFF;
}



@media screen and (min-width: 1400px) {
  h1 {
    font-size: 4rem;
  }

  a {
    font-size: 2.2rem;
  }
  button {
    font-size: 2.5rem;
  }
}