<nav class="navbar-branding">
  <h1 [class.hidden]="showMenu" class="clickable">Hamidou</h1>

  <div class="navbar">
    <div class="navbar-header">
      <a
        class="navbar-brand clickable"
        [class.active]="selectedSection === 'aboutMe'"
        (click)="scrollToSection('aboutMe')"
        >{{ "HeaderComponent.ABOUT_ME" | translate }}</a
      >
      <a
        class="clickable"
        [class.active]="selectedSection === 'skills'"
        (click)="scrollToSection('skills')"
        >{{ "HeaderComponent.SKILLS" | translate }}</a
      >
      <a
        class="clickable"
        [class.active]="selectedSection === 'portfolio'"
        (click)="scrollToSection('portfolio')"
        >{{ "HeaderComponent.PORTFOLIO" | translate }}</a
      >
    </div>

    <div class="navbar-footer">
      <button
        class="clickable"
        (click)="changeLanguage('de')"
        [class.active]="currentLanguage === 'de'"
      >
        DE
      </button>
      <button
        class="clickable"
        (click)="changeLanguage('en')"
        [class.active]="currentLanguage === 'en'"
      >
        EN
      </button> <button
        class="clickable"
        (click)="changeLanguage('fr')"
        [class.active]="currentLanguage === 'fr'"
      >
        FR
      </button>
    </div>
  </div>

  <img
    [class.hidden]="showMenu"
    class="clickable"
    src="./../../assets/img/burger_menu.png"
    alt="Menu"
    (click)="toggleMenu()"
  />
</nav>

<div class="overlay" *ngIf="showMenu">
  <div class="overlay-header">
    <h1>Hamidou</h1>
    <img
      class="close clickable"
      (click)="toggleMenu()"
      src="./../../assets/img/close_medium.png"
      alt="Close"
    />
  </div>

  <div class="overlay-divider">
    <div class="overlay-content">
      <a (click)="scrollToSection('aboutMe')">{{ "HeaderComponent.ABOUT_ME" | translate }}</a>
      <a (click)="scrollToSection('skills')">{{ "HeaderComponent.SKILLS" | translate }}</a>
      <a (click)="scrollToSection('portfolio')">{{
        "HeaderComponent.PORTFOLIO" | translate
      }}</a>
      <a (click)="scrollToSection('contact')">{{ "HeaderComponent.CONTACT" | translate }}</a>
    </div>

    <div class="overlay-footer">
      <span
        (click)="changeLanguage('de')"
        [class.active]="currentLanguage === 'de'"
      >
        DE
      </span>
      /
      <span
        (click)="changeLanguage('en')"
        [class.active]="currentLanguage === 'en'"
      >
        EN
      </span>
      /
      <span
        (click)="changeLanguage('fr')"
        [class.active]="currentLanguage === 'fr'"
      >
        FR
      </span>
    </div>
  </div>
</div>
