footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  height: 291px;

  div{

    p{
      text-wrap: nowrap;
      position: relative;
      &:hover {
        cursor: pointer;
        
        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 36%;
          height: 2px;
          background: url('./../../assets/img/legal_notice_hover_effect.png') repeat-x;
          background-size: contain;
        }
      }
    }
  }
}

section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 42px;
}

img {
  width: 30px;
  height: 30px;
  top: 5px;
  left: 144px;
}

span {
  display: none;
}

@media screen and (max-width: 568px) {
  footer {
    flex-direction: column;
    gap: 20px;
  }

  section {
    gap: auto;
  }

  span {
    display: flex;
  }

  p {
    display: none;
  }
}
