<footer>
  <div>
    <h1 class="clickable">Hamidou</h1>
    <p>Legal Notice</p>
  </div>

  <pre>© Hamidou Diallo 2025</pre>

  <section>
    <a href="https://github.com/Hamidou-ctr">
      <img src="./../../assets/img/github_button.png" alt="github" />
    </a>

    <a class="clickable" href="mailto: hamiduguinea@gmail.com">
      <img src="./../../assets/img/email_button.png" alt="email" />
    </a>

    <a href="https://www.linkedin.com/in/hamidou-diallo-1b1b3b1b3/">
      <img src="./../../assets/img/linkedin_button.png" alt="linkedin" />
    </a>
  </section>

  <span>Legal Notice</span>
</footer>
