footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  height: 291px;
  div {
    p {
      text-wrap: nowrap;
      position: relative;
      font-weight: 400;
      font-size: 1.5rem;
      cursor: pointer;
      &:hover {
        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 55%;
          height: 2px;
          background: url('./../../assets/img/legal_notice_hover_effect.png') repeat-x;
          background-size: contain;
        }
      }
    }
  }
}

section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 42px;
}

img {
  width: 30px;
  height: auto;
  top: 5px;
  left: 144px;
}

pre {
  font-weight: 400;
  font-size: 1.5rem;
}

span {
  display: none;
  text-wrap: nowrap;
  position: relative;
  font-weight: 400;
  font-size: 1.5rem;

  &:hover {
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 60%;
      height: 2px;
      background: url('./../../assets/img/legal_notice_hover_effect.png') repeat-x;
      background-size: contain;
    }
  }
}

@media screen and (max-width: 700px) {
  footer {
    flex-direction: column;
    gap: 20px;
  }

  section {
    width: 50%;
  }

  img {
    width: 60px;
  }
  
  span {
    display: flex;
  }

  p {
    display: none;
  }
}