section {
  display: flex;
  overflow: hidden;
  width: 100%;
  padding-left: 100px;
  position: relative;
  > menu {
    width: 50%;
    
    > div {
      display: flex;
      width: 100%;
      gap: 16px;
      margin-top: 32px;
    }

    > img {
      width: 48px;
      height: auto;
    }
  }
  
  > main {
    width: 50%;
    display: flex;
    justify-content: flex-start;
  }

  &::before {
    background-image: url(./../../assets/img/purple_shadow_about\ me.png);
    content: "";
    position: absolute;
    top: 6px;
    right: -200px;
    width: 550px;
    height: 550px;
    background-size: cover;
    z-index: -1;
  }
}

h1 {
  font-size: clamp(2rem, 6vw, 8rem);
  font-weight: 700;
  margin-bottom: 32px;
  margin-top: 60px;
  white-space: nowrap;
  margin-bottom: 40px;
}

span {
  font-size: 16px;
  font-weight: 400;
}

menu {
  > div {
    display: flex;
    align-items: center;
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 17vh;
  right: 0;
  > img {
    width: 50%;
    height: auto;
    border-radius: 50%;
    border: 4px solid #70e61c;
    margin-left: 30%;
  }

  > p {
    border: 2px solid #70e61c;
    flex: 1;
  }
}

@media screen and (max-width: 700px) {

  h1{
    font-size: clamp(3rem, 9vw, 9rem);
    //font-size: clamp(2rem, 9vw, 9rem);   // with france language
  }
  section {
    padding: 25px;
    > main {
      display: none;
    }
    menu {
      width: 100%;
    }
    background-size: 280px;
  }
}

@media screen and (min-width: 1440px) {
  h1{
    font-size: 6rem;
  }
}