<section id="aboutMe">
  <menu
    data-aos="zoom-in-down"
    data-aos-duration="1000"
    data-aos-easing="ease-in-out"
    data-aos-anchor-placement="top-center"
  >
    <h1>{{ "AboutMeComponent.about_me" | translate }}</h1>
    <span> {{ "AboutMeComponent.description" | translate }} </span>
    <div>
      <img src="assets/img/location.png" alt="" />
      <span> {{ "AboutMeComponent.description2" | translate }} </span>
    </div>
    <div>
      <img src="assets/img/bulb_desktop.png" alt="" />
      <span> {{ "AboutMeComponent.description3" | translate }} </span>
    </div>
    <div>
      <img src="assets/img/puzzle_desktop.png" alt="" />
      <span> {{ "AboutMeComponent.description4" | translate }} </span>
    </div>
  </menu>
  <main
    data-aos="zoom-in-down"
    data-aos-duration="1000"
    data-aos-easing="ease-in-out"
    data-aos-anchor-placement="top-center"
  >
    <img src="assets/img/profil2.png" alt="" />
    <p></p>
  </main>
</section>

<!--  

  data-aos="zoom-in-down"
  data-aos-duration="1000"
  data-aos-easing="ease-in-out"
  data-aos-anchor-placement="top-center"
  


















<p>
      My name is Hamidou. I am a frontend developer with a passion for creating
      beautiful and functional websites. I have experience in building projects
      with different frontend technologies and concepts. I am always looking to
      expand my knowledge and learn new skills. I am currently looking for new
      opportunities to work on exciting projects and collaborate with other
      developers.
    </p>
-->
