section {
  display: flex;
  overflow: hidden;
  width: 100%;
  padding-left: 100px;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;

  >menu {
    width: 50%;
    max-width: 720px;

    >div {
      display: flex;
      width: 100%;
      gap: 16px;
      margin-top: 32px;
    }

    >img {
      width: 48px;
      height: auto;
    }
  }

  >main {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    max-width: none;
  }

  &::before {
    background-image: url(./../../assets/img/purple_shadow_about\ me.png);
    content: "";
    position: absolute;
    top: 6px;
    right: -200px;
    width: 550px;
    height: 550px;
    background-size: cover;
    z-index: -1;
  }
}

h1 {
  font-size: clamp(2rem, 4vw, 8rem);
  font-weight: 700;
  margin-bottom: 32px;
  margin-top: 60px;
  white-space: nowrap;
  margin-bottom: 40px;
}

span {
  font-size: 16px;
  font-weight: 400;
}

menu {
  >div {
    display: flex;
    align-items: center;
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 17vh;
  right: 0;

  >img {
    width: 50%;
    height: auto;
    border-radius: 50%;
    border: 4px solid #70e61c;
    margin-left: 30%;
    max-width: none;
  }

  >p {
    border: 2px solid #70e61c;
    flex: 1;
    width: 100%;
    max-width: none;
  }
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: clamp(1.3rem, 6.5vw, 9rem);
  }

  section {
    padding: 25px;
    max-width: none;

    >main {
      display: none;
    }

    menu {
      width: 100%;
      max-width: none;
    }

    background-size: 280px;
  }
}

@media screen and (min-width: 1440px) {
  section {
    justify-content: flex-end; // Bessere Verteilung des Platzes
    align-items: center;
    overflow: visible;
    padding-left: 100px; // Fester Wert statt vw
    max-width: none;
    position: relative;

    &::before {
      right: 0;
      top: -90px;
      //width: 550px; // Fester Wert statt vw
      //height: 757px; // Fester Wert statt vh
      width: 30vw;
      height: 70vh;
      background-size: cover;
      max-width: none;
    }
  }

  main {
    position: relative;
    right: 0;
    top: 0;
    display: flex;
    justify-content: flex-end; // Rechts ausrichten
    align-items: center;
    padding-right: 0; // Abstand vom rechten Rand

    >img {
      width: 375px;
      height: 375px;
      margin-left: 150px;
    }
  }

  h1 {
    font-size: 4rem;
    max-width: 600px; // Etwas kleiner als 720px
  }

  menu {
    max-width: 600px;
    padding-left: 100px;
  }
}