<section>
 
    <img src="./../../assets/img/profil.png" alt="" />

    <div class="profile-image-div">
  </div>

  <div class="intro">
    <div class="intro-text">
      <span class="writing-mode-Inverse "> 
        <span>I</span>am
      </span>
      <div class="name-title">
        <h1>Hamidou Diallo</h1>
        <h3 class="">FRONTEND DEVELOPER</h3>
      </div>
    </div>
    <button>Let's talk!</button>
  </div>
</section>

<main class="contact-section">
  <div class="contact-info">
    <p class="separator"></p>
    <div class="contact-buttons">
      <img src="./../../assets/img/github_button.png" alt="GitHub" />
      <img src="./../../assets/img/email_button.png" alt="Email" />
      <img src="./../../assets/img/linkedin_button.png" alt="LinkedIn" />
      <a href="mailto:hamiduguinea@gmail.com">hamiduguinea&#64;gmail.com</a>
    </div>
  </div>
  <p class="scroll-down">Scroll down <img src="./../../assets/img/scroll_down.png" alt="Scroll down" /></p>
</main>

