<section>
  <img src="./../../assets/img/profio1.HEIC" alt="" />
  <div>
    <div>
      <p>I am</p>
      <div>
        <h1>Hamidou Diallo</h1>
        <h3>FRONTEND DEVELOPER</h3>
      </div>
    </div>
    <button>Let's talk!</button>
  </div>
</section>

<main>
  <div>
    <p>-------</p>
    <div>
        <img src="./../../assets/img/github_button.png" alt="" />
        <img src="./../../assets/img/email_button.png" alt="" />
        <img src="./../../assets/img/linkedin_button.png" alt="" />
        <a href="mailto:hamiduguinea@gmail.com">hamiduguinea&#64;gmail.com</a>
    </div>
  </div>
  <p>
    Scroll down <img src="./../../assets/img/scroll_down.png" alt="">
  </p>
</main>
