<div>
  <p></p>
  <h1>Contact</h1>
</div>

<section>
  <div>
    <h2>Get in touch</h2>
    <p>
      Feel free to drop me a message if you have any questions or just want to
      say hi!
    </p>
    <p>
       Need a Frotend Developer? <b>Contact me!</b>
    </p>
  </div>
  <form action="">
    <input placeholder="Your name" type="text" id="name" name="name" required />

    <input
      placeholder="Your email"
      type="email"
      id="email"
      name="email"
      required
    />

    <textarea
      placeholder="Your massage"
      id="message"
      name="message"
      required
    ></textarea>
    <input type="checkbox" value="Send" />
    <button type="submit">Send message :&rpar;</button>
  </form>
</section>

<img src="" alt="" />
