<header id="contact-section">
  <p></p>
  <h1>Contact</h1>
</header>

<main id="contact">
  <section class="contact-section">
    <div class="contact-section__intro">
      <h1 class="contact-section__title">Got a problem to solve?</h1>
      <p class="contact-section__description poppins-regular">
        Feel free to drop me a message if you have any questions or just want to
        say hi!
      </p>
      <p class="contact-section__description">
        Need a Frontend Developer? <b>Contact me!</b>
      </p>
    </div>

    <form
      class="contact-form"
      (ngSubmit)="onSubmit(contactForm)"
      #contactForm="ngForm"
    >
      <div>
        <div class="input-container">
          <input
            [(ngModel)]="contactData.name"
            class="contact-form__input clickable"
            [ngClass]="{
              'contact-form__input--invalid': !name.valid && name.touched,
              'contact-form__input--valid': name.valid && name.touched
            }"
            placeholder="Your name"
            type="text"
            id="name"
            name="name"
            required
            #name="ngModel"
          />
          <span
            class="checkbox"
            [ngClass]="{
              'checkbox--valid': name.valid && name.touched,
              'checkbox--invalid': !name.valid && name.touched
            }"
          >
            <img
              class="check-valid-img"
              src="./../../assets/img/done_contact_my.png"
              alt=""
            />
            <img
              class="check-error-img"
              src="./../../assets/img/error_contact_my.png"
              alt=""
            />
          </span>
        </div>
        @if(!name.valid && name.touched){
        <span class="contact-form__error"> Your name is required </span>
        }

        <div class="input-container">
          <input
            [(ngModel)]="contactData.email"
            class="contact-form__input clickable"
            [ngClass]="{
              'contact-form__input--invalid': !email.valid && email.touched,
              'contact-form__input--valid': email.valid && email.touched
            }"
            placeholder="Your email"
            type="email"
            id="email"
            name="email"
            required
            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
            #email="ngModel"
          />
          <span
            class="checkbox"
            [ngClass]="{
              'checkbox--valid': email.valid && email.touched,
              'checkbox--invalid': !email.valid && email.touched
            }"
          >
            <img
              class="check-valid-img"
              src="./../../assets/img/done_contact_my.png"
              alt=""
            />
            <img
              class="check-error-img"
              src="./../../assets/img/error_contact_my.png"
              alt=""
            />
          </span>
        </div>
        @if(!email.valid && email.touched){
        <span class="contact-form__error"> Your email is required </span>
        }

        <div class="input-container textarea-container">
          <textarea
            [(ngModel)]="contactData.message"
            class="contact-form__textarea clickable"
            [ngClass]="{
              'contact-form__input--invalid': !message.valid && message.touched,
              'contact-form__input--valid': message.valid && message.touched
            }"
            placeholder="Your message"
            id="message"
            name="message"
            required
            #message="ngModel"
            minlength="9"
          ></textarea>
          <span
            class="checkbox"
            [ngClass]="{
              'checkbox--valid': message.valid && message.touched,
              'checkbox--invalid': !message.valid && message.touched
            }"
          >
            <img
              class="check-valid-img"
              src="./../../assets/img/done_contact_my.png"
              alt=""
            />
            <img
              class="check-error-img"
              src="./../../assets/img/error_contact_my.png"
              alt=""
            />
          </span>
        </div>
        @if(!message.valid && message.touched){
        <span class="contact-form__error"> Your message is empty </span>
        }
      </div>

      <div class="checkbox-container">
        <div class="checkbox-container-error">
          <div class="custom-checkbox">
            <input
              type="checkbox"
              id="privacy"
              name="privacy"
              [(ngModel)]="contactData.privacy"
              (ngModelChange)="onPrivacyChange($event, privacy)"
              required
              #privacy="ngModel"
            />
            <label for="privacy">
              <div>
                <img
                  class="clickable"
                  *ngIf="contactData.privacy"
                  src="./../../assets/img/checked.png"
                  alt="Checked"
                />
                <img
                  class="clickable"
                  *ngIf="!contactData.privacy"
                  src="./../../assets/img/default.png"
                  alt="Unchecked"
                />
              </div>
              <span>
                I've read the
                <a href="#" class="privacy-link">privacy policy</a> and agree to
                the processing of my data as outlined.
              </span>
            </label>
          </div>
          @if(privacy.invalid && privacy.touched){
          <span class="contact-form__error">
            Please accept the privacy policy.
          </span>
          }
        </div>
      </div>

      <button
        class="contact-form__button clickable"
        type="submit"
        value="submit"
      >
        Send message :)
      </button>
    </form>
  </section>

  <a href="#header-component">
    <img
      class="go_up_button clickable"
      src="./../../assets/img/4. go_up_button.png"
      alt=""
    />
  </a>

  <div class="green-line"></div>
</main>


<!-- window.scrollTo({ top: 0, behavior: 'instant' }) Empfehlung für legal notice -->