@media screen and (max-width: 1000px) {
  main {
    &::before {
      width: 90%;
      height: 60%;
      left: -280px;
    }
  }
}

@media screen and (max-width: 720px) {
  header {
    gap: 2%;
    padding-right: 10%;

    >h1{
      font-size: clamp(3rem, 13vw,  9rem);
    }
  }

  section {
    flex-direction: column;
   // gap: 20px;
  }

  .contact-form {
    max-width: 100%;
  }

  main {
    &::before {
      width: 130%;
      height: 26%;
      left: -280px;
      bottom: -50px;
    }
  }

  .go_up_button {
    margin-left: 80%;
  }
}

@media screen and (min-width: 1440px) {
  header {
    >h1{
      font-size: 5rem;
    }
  }
}