
app-header{
    background-color: aqua !important;
}

app-home-page{
    background-color: rgb(141, 222, 222) !important;
}

app-references{
    background-color: rgb(255, 255, 255) !important;
}

app-footer{
    background-color: rgb(141, 222, 222) !important;
    width: 50%;
}