.overlay-background {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  max-width: 1440px;
  min-height: calc(100vh - 400px);
}

.back-button {
  position: fixed;
  margin-top: 8rem;
  left: 90%;
  cursor: pointer;
  rotate: -95deg;

  animation: rotate-out 1s ease-in-out infinite;
  animation-direction: alternate;

  &:hover {
    transform: scale(1.5);
  }
}

@keyframes rotate-out {
  0% {
    transform: rotate(-25deg);
  }

  100% {
    transform: rotate(25deg);
  }
}

.privacy-policy {
  margin-top: 5rem;
  padding: 2rem;
  margin: 0 auto;
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  padding-left: 4rem;

  h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #2ba2f1;
    margin-top: 5rem;
  }

  h2 {
    font-size: 1.4rem;
    margin-top: 2rem;
    color: #2ba2f1;
  }

  h3 {
    font-size: 1.2rem;
    margin-top: 1.5rem;
    color: #2ba2f1;
  }

  p,
  ul {
    margin-top: 1rem;
  }

  ul {
    list-style: disc;
    padding-left: 1.5rem;
  }

  a {
    color: #2ba2f1;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  .last-updated {
    margin-top: 3rem;
    font-style: italic;
    color: #666;
  }
}


@media screen and (max-width: 500px) {
  .back-button {
    left: 85%;
  }

  .privacy-policy {
    margin-top: 2rem;
    padding: 1rem;
    font-size: 0.9rem;
    padding-left: 2rem;

    h1 {
      font-size: 1.5rem;
    }

    h2 {
      font-size: 1.2rem;
      margin-top: 1.5rem;
    }

    h3 {
      font-size: 1rem;
      margin-top: 1rem;
    }
  }
}


@media screen and (min-width: 1440px) {
  .back-button {
    display: none;
  }
}