<p>legal-notice works!</p>

<div
  class="legal-notice-container"
  style="margin-top: 120px;"
>
  <h1>legal-notice</h1>
  <div class="legal-notice-content">
    <!-- Hier kommt der Inhalt Ihrer Datenschutzerklärung -->
    <p>legal-notice works!</p>
  </div>
  <button (click)="goBack()" class="back-button clickable">
    legal-notice works!
  </button>
</div>




<section class="legal-notice">
  <h1>Impressum</h1>

  <h2>Angaben gemäß § 5 TMG</h2>
  <p>
    Hamidou Diallo<br>
    Website: <a (click)="goBack()" rel="noopener">www.hamidoudiallo.de</a><br>
    E-Mail: <a href="mailto:kontakt@hamidoudiallo.de">kontakthamidoudiallo.de</a><br>
    Wohnort: Deutschland
  </p>

  <h2>Vertreten durch</h2>
  <p>Hamidou Diallo</p>

  <h2>Haftungsausschluss</h2>

  <h3>Haftung für Inhalte</h3>
  <p>
    Die Inhalte dieser Website wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte kann ich jedoch keine Gewähr übernehmen.
  </p>

  <h3>Haftung für Links</h3>
  <p>
    Diese Website enthält Links zu externen Webseiten Dritter (z. B. GitHub), auf deren Inhalte ich keinen Einfluss habe.
    Daher kann ich für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich.
  </p>

  <h2>Urheberrecht</h2>
  <p>
    Die durch mich erstellten Inhalte und Werke auf dieser Website unterliegen dem deutschen Urheberrecht.
    Beiträge Dritter sind als solche gekennzeichnet. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen meiner schriftlichen Zustimmung.
  </p>

  <p class="last-updated"><em>Letzte Aktualisierung: April 2025</em></p>
</section>
