section {
  display: flex;
  justify-content: center;
  padding-left: 100px;
  gap: 13%;
  margin-top: 70px;
  position: relative;
  font-size: 16px;
  font-weight: 400;

  &::before {
    content: "";
    position: absolute;
    width: 500px;
    height: 800px;
    background-image: url("./../../assets/img/green_shadow_skills_portfolio.png");
    background-size: cover;
    z-index: -1;
    bottom: -470px;
    left: 0;
    background-position-x: 506px;
    background-position-y: 0px;
  }
}

h1 {
  font-size: clamp(2rem, 4vw, 8rem);
  font-weight: 700;
  text-align: right;
  text-wrap: nowrap;
  margin-bottom: 25px;
}

menu {
  display: flex;
  align-items: center;
  width: 50%;
  flex-wrap: wrap;
  gap: 88px;
  margin-top: 30px;

  >div {
    display: flex;
    width: 88px;
    height: 120px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-weight: 700;
  }
}

.skill-item {
  position: relative;
  display: inline-block;
  justify-content: center;
  width: 88px;
  height: 120px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  color: #9747ff;

  &:hover {
    color: white;
  }
}

.skill-subitem1,
.skill-subitem2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.continually-learning-image {
  width: 60px;
  height: 60px;
}

.hovered-image {
  position: absolute;
  bottom: 90px;
  left: 100%;
  transform: translateX(-50%);
}

div:hover .language-image {
  animation: moveUpAndBack 0.5s ease;
}

.language-image {
  width: 60px;
  height: auto;
}

@keyframes moveUpAndBack {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-15px);
  }

  50% {
    transform: translateY(-15px);
  }

  75% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0);
  }
}

main {
  display: flex;
  justify-content: flex-start;
  max-width: 50%;
  gap: 16px;
}

.bright-lavender-line {
  flex: 1;
  height: 4px;
  background-color: #9747ff;
  margin-top: 3.5vw;
}

.content {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
}

.content-show-desktop {
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
  gap: 24px;
}

.content-show-mobile {
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 24px;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  font-size: clamp(1rem, 2vw, 2.9rem);
  font-weight: 700;

  h2 {
    color: #9747ff;
    margin-left: 8px;
  }
}

button {
  width: 200px;
  height: 58px;
  background-color: rgb(112, 231, 26);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 23px;
  font-weight: 400;
  font-weight: bold;
  cursor: pointer;
  font-family: 'poppins', sans-serif;

  &:hover {
    background-color: #9747ff;
    transform: scale(1.1);
    transition: all 300ms ease out;
  }
}

@media screen and (max-width: 870px) {
  section {
    flex-direction: column-reverse;
    align-items: center;
    padding: 0;

    &::before {
      width: 500px;
      height: 700px;
      z-index: -1;
      bottom: -300px;
      left: -178px;
    }
  }

  .hovered-image {
    bottom: 100px;
    left: 65%;
  }

  h1 {
    font-size: clamp(1.3rem, 6.5vw, 9rem);
    text-align: center;
    margin-bottom: 30px;
  }

  h2 {
    font-size: clamp(1rem, 4vw, 6rem);
  }

  .bright-lavender-line {
    margin-top: 5vw;
    width: 1%;
  }

  menu {
    width: 100%;
    gap: 50px;
    margin-top: -30px;
    justify-content: center;
    padding: 0 5% 0 5%;

    >div {
      width: 20%;
      gap: 20px;

      img {
        width: 80px;
        height: auto;
      }
    }
  }

  main {
    max-width: 100%;
    padding-left: 15%;
    margin-bottom: 60px;
  }

  .show-desktop {
    display: none;
  }

  .show-mobile {
    display: flex;
  }
}

@media screen and (max-width: 700px) {
  section {
    &::before {
      bottom: -50px;
      left: -300px;
    }
  }
}

@media screen and (max-width: 400px) {
  section {
    &::before {
      bottom: -50px;
      left: -300px;
    }
  }

  menu {
    padding: 0 5% 0 5%;

    >div {
      width: 30%;
      gap: 10px;
    }
  }

}

@media (min-width: 1440px) {
  section {
    max-width: 100vw;
    gap: 18%;
    padding-left: 23vw;

    &::before {
      width: 576px;
      height: 640px;
      background-position-x: 0px;
      background-position-y: -10px;
    }
  }

  menu {
    max-width: 664px;
  }

  main {
    width: 100%;
  }

  .content {
    max-width: 390px;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
  }

  .bright-lavender-line {
    margin-top: 5vh;
    width: 100%;
    flex: 1;
  }
}