<section id="skills">
  <menu>
    <div>
      <img src="./../../assets/img/html_icons.png" alt="" />
      <p>HTML</p>
    </div>
    <div>
      <img src="./../../assets/img/css_icons.png" alt="" />
      <p>CSS</p>
    </div>
    <div>
      <img src="./../../assets/img/javascript_icons.png" alt="" />
      <p>JavaScript</p>
    </div>
    <div>
      <img src="./../../assets/img/typescript_icons.png" alt="" />
      <p>TypeScript</p>
    </div>
    <div>
      <img src="./../../assets/img/angular_icons.png" alt="" />
      <p>Angular</p>
    </div>
    <div>
      <img src="./../../assets/img/firebase_icons.png" alt="" />
      <p>Firebase</p>
    </div>
    <div>
      <img src="./../../assets/img/git_icons.png" alt="" />
      <p>Git</p>
    </div>
    <div>
      <img src="./../../assets/img/rest_api_icons.png" alt="" />
      <p>Res Api</p>
    </div>
    <div>
      <img src="./../../assets/img/scrum_icons.png" alt="" />
      <p>Scrum</p>
    </div>
    <div>
      <img src="./../../assets/img/material_design_icons.png" alt="" />
      <p>Material Design</p>
    </div>
    <div>
      <img src="./../../assets/img/continually_learning_icons.png" alt="" />
      <p>Continually learning</p>
    </div>
  </menu>


  <main>
    <div>
      <h1>My skills</h1>
      <p></p>
    </div>
    
    <p>I have gained experience in building projects with different frontend technologies and concepts.</p>
    <h2>Lookking for <h2> another skill</h2>?</h2>
    <p> Feel free to contact me. I look forward to expanding on my previous knowledge.</p>
    <button class="clickable" (click)="scrollToContact()">Get in touch</button>
  </main>
  
</section>
