section {
  display: flex;
  justify-content: center;
  padding-left: 10%;
  gap: 100px;
  margin-top: 100px;
}

menu {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  flex-wrap: wrap;
  gap: 88px;

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    > img {
      width: 60px;
      height: 60px;
      &:hover {
        animation: moveUpAndBack 1s ease;
      }
    }
  }
}

@keyframes moveUpAndBack {
  0% {
    transform: translateY(0); 
  }
  25% {
    transform: translateY(-5px); 
  }
  50% {
    transform: translateY(-15px); 
  }
  75% {
    transform: translateY(-5px); 
  }
  100% {
    transform: translateY(0); 
  }
}

main {
  display: flex;
  flex-direction: column;
  max-width: 50%;
gap: 16px;
  > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 100%;
    > p {
      flex: 1;
      border: 2px solid #9747ff;
      color: #9747ff;
    }
  }
}

h2 {
  h2 {
    color: #9747ff;
  }
}

button {
  width: 200px;
  height: 58px;
  background-color: rgb(112, 231, 26);
  color: white;
  border: none;
  padding: 10px 25px 15px 25px;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  section {
    flex-direction: column-reverse;
    align-items: center;
    padding: 0;
    
  }

  menu {
    max-width: 100%;
    gap: 50px;
    padding: 5%;
  }

  main {
    max-width: 100%;
    padding-left: 15%;
  }
}
