* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
  scrollbar-width: thin;
  scrollbar-color: #693eae rgba(241, 241, 241, 0.1);
}

body {
  //max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(20, 29, 47);
  color: #ffffff;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}

@font-face {
  src: url(./assets/fonts/Poppins-Black.ttf);
  font-family: "Poppins";
  font-weight: 900;
  font-style: normal;
}

@font-face {
  src: url(./assets/fonts/Poppins-ExtraLight.ttf);
  font-family: "Poppins";
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: italic;
}

.clickable {
  transition: background-color 0.3s ease;
}

.clickable.hover-effect {
  background-color: rgb(82, 143, 160);
  border: 0.2px solid rgb(78, 132, 151);
}

.show-desktop {
  display: flex;
}

.show-mobile {
  display: none;
}

@media screen and (max-width: 720px) {
  .show-desktop {
    display: none;
  }

  .show-mobile {
    display: flex;
  }
}
