.background {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;

  &::before {
    content: "";
    position: absolute;
    background-image: url("./../../assets/img/hero_background1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: bottom;
    width: 100vw;
    height: 100%;
    top: 18rem;
    z-index: -1;
    max-width: 1440px;
  }
}

section {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  margin-top: 100px;

  >menu {
    display: flex;
    width: 100%;
    margin-top: 16px;

    >div {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 50%;

      >div {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2.5rem;

        h3 {
          font-size: clamp(2.26rem, 4.3vw, 6rem);
          font-weight: 400;
          white-space: nowrap;
          color: rgb(151, 71, 255);
        }
      }
    }
  }
}

.intro {
  margin-left: -3rem;
}

h1 {
  font-weight: 700;
  white-space: nowrap;
  font-size: clamp(3rem, 5.7vw, 9rem);
}

.writing-mode-Inverse {
  transform: rotate(-90deg);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: clamp(1.25rem, 5vw, 4rem);
  font-weight: 400;
}

.image-container {
  position: relative;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    width: 45vw;
    height: 70vh;
    max-width: 700px;
    max-height: 700px;
    background-image: url("./../../assets/img/photo_shadows.png");
    background-size: cover;
    z-index: -3;
    left: 60%;
    transform: translate(-50%, -50%);
    top: 18rem;
  }

  >img {
    max-width: 800px;
    max-height: 800px;
    width: 45vw;
    height: 82vh;
    z-index: -2;
    margin-top: -5rem;
  }
}


button {
  font-size: 1.5rem;
  padding: 15px 30px 15px 30px;
  border-radius: 10px;
  background: #70e61c;
  box-shadow: 4px 4px 4px 0px #00000040;
  border: solid 1px #00000040;

  &:hover {
    background: rgb(151, 71, 255);
    scale: 1.1;
    animation-timing-function: ease-out;
    animation-duration: 300ms;
  }
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 50px;

  >div {
    display: flex;
    gap: 50px;

    >div {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
  }
}

a {
  color: #ffffff;
  text-decoration: none;
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.separator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  border: 2px solid #9747ff;
}

.scroll-down {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  font-weight: 500;
  transform: rotate(90deg);
  cursor: pointer;

  >img {
    transform: rotate(270deg);
  }
}

@import './responsiv-home-page.scss';