<div class="background">
  <section>
    <menu>
      <div class="image-container">
        <img src="assets/img/profile.png" alt="Profilbild" />
      </div>

      <div class="intro">
        <div class="intro-text">
          <span class="writing-mode-Inverse"> <span>{{ "HomePageComponent.i" | translate}}</span> {{ "HomePageComponent.am" | translate}} </span>
          <div class="name-title">
            <h1>Hamidou Diallo</h1>
            <h3>{{ "HomePageComponent.frontend_developer" | translate}}</h3>
          </div>
        </div>
        <button class="clickable" (click)="scrollToContact()">
          {{ "HomePageComponent.Let's_talk!" | translate }}
        </button>
      </div>
    </menu>
  </section>

  <main class="contact-section">
    <div class="contact-info">
      <p class="separator"></p>
      <div class="contact-buttons">
        <a href="https://github.com/Hamidou-ctr">
          <img src="assets/img/github_button.png" alt="GitHub" />
        </a>

        <img
          (click)="scrollToContact()"
          src="assets/img/email_button.png"
          alt="Email"
        />
        <img src="assets/img/linkedin_button.png" alt="LinkedIn" />
        <a class="clickable email-link" href="mailto:hamiduguinea@gmail.com"
          >hamiduguinea&#64;gmail.com</a
        >
      </div>
    </div>
    <p class="scroll-down" (click)="scrollToBottom()">
      {{ "HomePageComponent.scroll_down" | translate}}
      <img (click)="scrollToBottom()"
        src="assets/img/scroll_down.png"
        alt="Scroll down"
      />
    </p>
  </main>
</div>
