@media screen and (max-width: 700px) {
  main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 50px;

    >div {
      display: flex;
      gap: 50px;
      margin-top: 0;

      >div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-left: 0;
      }
    }
  }

  .overlay {
    &::before {
      height: 23vh;
      margin-top: 22vw;
    }
  }

  h1 {
    font-size: 9vw;
  }

  .writing-mode-Inverse {
    font-size: 5.05vw;
  }

  menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    >div {
      max-width: 100%;
      margin-top: 0;

      >div {
        margin-top: 0;

        h3 {
          font-size: clamp(1rem, 6.5vw, 6rem);
        }
      }
    }
  }

  .image-container {
    width: 100vw;

    &::before {
      max-width: 800px;
      max-height: 800px;
      width: 100vw;
      height: 44vh;
      top: 34vh;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    >img {
      height: 40vh;
      margin-top: 100px;
    }
  }

  main {
    gap: 20px;
    padding: 0;

    >div {
      width: 100%;
      gap: 56px;
      padding-right: 6%;

      >div {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-right: 1%;
      }
    }
  }

  menu {
    >div {
      gap: 0px;
      margin-bottom: 16px;
    }
  }

  .separator {
    width: 18%;
  }

  .scroll-down {
    display: none;
  }

  main {
    >div {
      margin-top: 0px;
    }
  }
}

@media screen and (max-width: 630px) {
  .image-container {
    &::before {
      height: 41vh;
    }
  }

  main {
    >div {
      margin-top: 0;
      gap: 32px;
    }
  }

  menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    >div {
      max-width: 90%;

      >div {
        margin-top: 0;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .overlay {
    &::before {
      height: 25vh;
      margin-top: 45vw;
    }
  }

  main {
    gap: 20px;
    padding: 0;

    >div {
      justify-content: flex-start;
      gap: 20%;
      padding-right: 16%;

      >div {
        gap: 35%;
        width: 50%;
      }
    }
  }

  .email-link {
    display: none;
  }

  .separator {
    width: 20%;
  }

  .image-container {
    &::before {
      height: 50vh;
      top: 34vh;
    }

    >img {
      height: 45vh;
    }
  }
}

@media screen and (max-width: 450px) {
  .image-container {
    &::before {
      height: 55vh;
      top: 39vh;
    }

    >img {
      height: 50vh;
      margin-top: 80px;
    }
  }

  .overlay {
    &::before {
      height: 20vh;
      margin-top: 56vw;
    }
  }

}

@media screen and (max-width: 385px) {
  .overlay {
    &::before {
      height: 18vh;
      margin-top: 74vw;
    }
  }

  .image-container {
    &::before {
      height: 48vh;

      top: 45vh;
    }

    >img {
      height: 52vh;
    }
  }
}

@media screen and (min-width: 1440px) {
  h1 {
    font-size: 4.5rem;
  }

  .image-container {
    &::before {
      max-width: 1000px;
      max-height: 560px;
    }
  }

  .writing-mode-Inverse {
    font-size: 2.7rem;
  }

  section {
    >menu {
      >div {
        >div {
          h3 {
            font-size: 3.5rem;
          }
        }
      }
    }
  }

  main {
    display: none;
  }

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .separator {
      display: flex;
      flex: 1;
      width: 100%;
    }

    .contact-section {
      display: flex;
      width: 1400px;
      justify-content: space-around;
      font-size: 16px;

      .contact-info {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 1400px;
        margin-top: 0;
        padding-left: 50px;
        margin-right: 50px;

        .contact-buttons {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 50px;
        }
      }
    }

    .scroll-down {
      width: 200px;
    }
  }
}