.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10%;
    margin-top: -70px;
    font-size: 16px;
    font-weight: 400;
    padding-left: 8%;
    padding-right: 8%;

    &.left {
        flex-direction: row;
        text-align: justify;
        text-align-last: left;
    }

    &.right {
        flex-direction: row-reverse;
        text-align: justify;
        text-align-last: right;
    }
}

img {
    width: 50%;
    height: auto;
}

.project-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 50%;
}

h1 {
    font-weight: 700;
    font-size: 32px;
    color: #9747FF;
}

h4 {
    font-weight: 400;
    font-size: 23px;
    color: #70E61C;
}

p {
    color: #FFFFFF;
}


.project-link {
    display: inline-block;
    padding: 15px 30px 15px 30px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 400;
    font-size: 23px;

    &.test {
        background-color: #9747FF;

        &:hover {
            background-color: #70E61C;
        }
    }

    &.GitHub {
        margin-left: 86px;
        border: 1px solid #70E61C;

        &:hover {
            background-color: #70E61C;
        }
    }
}

@media screen and (max-width: 1033px) {
    .project-link {
        &.GitHub {
            margin-left: 10%;
        }
    }

    section {
        margin-top: -40px;
    }
}

@media screen and (max-width: 927px) {
    .project-link {
        &.GitHub {
            margin-left: 5%;
        }
    }
}

@media screen and (max-width: 892px) {
    .project-link {
        font-size: 18px;
    }
}


@media screen and (max-width: 830px) {
    section {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 5%;
        margin-top: -24px;

        &.left {
            flex-direction: column;
            text-align-last: center;
        }

        &.right {
            flex-direction: row;
            flex-direction: column;
            text-align-last: center;
        }
    }

    img {
        width: 90%;
    }

    .project-content {
        width: 100%;
        padding: 20px;
        margin-top: -15%;
    }

    .project-link {
        font-size: 23px;
    }

    h1 {
        margin-top: 24px;
    }
}

@media screen and (max-width: 401px) {
    .project-link {
        padding: 10px 20px 10px 20px;
        font-size: 20px;
    }
}

@media screen and (max-width: 340px) {
    .project-link {
        padding: 8px 16px 8px 16px;
        font-size: 17px;
    }
}

@media screen and (min-width: 1440px) {
    section {
        max-width: 1440px;
        padding-left: 4%;
        padding-right: 4%;
    }
}