section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 120px;

    &.left {
        flex-direction: row;
        text-align: justify;
        text-align-last: left;

    }

    &.right {
        flex-direction: row-reverse;
        text-align: justify;
        text-align-last: right;
    }
}

img {
    width: 50%;
    height: auto;
}

.project-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    
    //width: 50%;

    /*   word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: justify; */
}

h1 {
    font-weight: 700;
    font-size: 32px;
    color: #9747FF;
}

h4 {
    font-weight: 400;
    font-size: 23px;
    color: #70E61C;
}

p {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}


.project-link {
    display: inline-block;
    padding: 15px 30px 15px 30px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 400;
    font-size: 23px;

    &.test {
        background-color: #9747FF;

        &:hover {
            background-color: #70E61C;
        }
    }

    &.GitHub {
        margin-left: 86px;
        border: 1px solid #70E61C;

        &:hover {
            background-color: #70E61C;
        }
    }
}

@media screen and (max-width: 1033px) {
    .project-link {
        &.GitHub {
            margin-left: 10%;
        }
    }
}

@media screen and (max-width: 927px) {
    .project-link {
        &.GitHub {
            margin-left: 5%;
        }
    }
}

@media screen and (max-width: 892px) {
    .project-link {
        font-size: 18px;
    }
}


@media screen and (max-width: 830px) {
    section {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1px;

        &.left {
            flex-direction: column;
            text-align-last: center;
        }

        &.right {
            flex-direction: row;
            flex-direction: column;
            text-align-last: center;
        }
    }

    img {
        min-width: 95%;
    }

     .project-content {
        width: 100%;
        padding: 20px;
        margin-top: -30%;
    } 

    .project-link {
        font-size: 23px;
    }
}

@media screen and (max-width: 401px) {
    h1 {
        font-size: 28px;
    }

    h4 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    .project-link {
        padding: 10px 20px 10px 20px;
        font-size: 20px;
    }

    .project-content{
        margin-top: -50%;
    }
}

@media screen and (max-width: 340px) {
    h1 {
        font-size: 24px;
    }

    h4 {
        font-size: 17px;
    }

    p {
        font-size: 12px;
    }

    .project-link {
        padding: 8px 16px 8px 16px;
        font-size: 17px;
    }

}